<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DialogFlow fulfillment exampl app</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        DialogFlow fulfillment app that queries a google spreadsheet for its answers
      </h1>
    </header>

    <main>
      <p>
        Just say "hi" down there :)
      </p>
      <p>
        The names list you will see in the response comes from <a href="https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit">a google spreadsheet</a>.
      </p>
      <p>
        If it doesn't answer immediately, it's because the glitch app must be in sleep mode. Just type "hi" again.
      </p>
      <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/0eac406e-b0c0-4169-9321-c8df60854b99">
      </iframe>

    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
